ion-toolbar {
	--background: #1D1766;
  }

ion-title {
	--color:white;
}


ion-card{
	--background: #2E437A;
}



ion-content{
	--background:#2E437A;
}

h1 {
	color: white;
  }


  ion-buttons {
	color:#1D1766
  }