<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" slot="start" >
        <ion-icon slot="icon-only" name="menu-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/image.png" class="ion-padding" />
    </ion-card-header>
    <ion-card-content >
    

    </ion-card-content>
  </ion-card>


  

</ion-content>


<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        Log-out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>