<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" >
        <ion-icon slot="icon-only" name="menu-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/image.png" class="ion-padding" />
    </ion-card-header>
    <ion-card-content >
      <ion-grid>
        <ion-row justify-content-center>

          <ion-col size="end">
            <ion-button >Iniciar sesion</ion-button>
          </ion-col>
    
          <ion-col size="start"  >
            <ion-button>Cerrar sesion</ion-button>
          </ion-col>
          
        </ion-row>  
      </ion-grid>
    </ion-card-content>
  </ion-card>




</ion-content>
