ion-toolbar {
	--background: #1D1766;
  }

ion-title {
	--color:white;
}


ion-card{
	--background: #2E437A;
}

ion-button{
	--background: #FFC700;
	--color:black;
}


ion-content{
	--background:#2E437A;
}