<ion-header >
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <h1 style="color: black;">Formulario de registro</h1>
      <br>

      <form (ngSubmit)="registerUser()" id="mainForm">
        <ion-item>
          <ion-label position="stacked">Nombre Completo</ion-label>
          <ion-input type="text" [(ngModel)]="fullName" name="fullName" required></ion-input>
        </ion-item>
      
        <br>
      
        <ion-item>
          <ion-label position="stacked">Celular</ion-label>
          <ion-input type="number" [(ngModel)]="phoneNumber" name="phoneNumber" required></ion-input>
        </ion-item>
      
        <br>

        <ion-item>
          <ion-label position="stacked">Género</ion-label>
          <ion-select [(ngModel)]="gender" name="gender" required>
            <ion-select-option value="hombre">Hombre</ion-select-option>
            <ion-select-option value="mujer">Mujer</ion-select-option>
            <ion-select-option value="otros">Otros</ion-select-option>
          </ion-select>
        </ion-item>
      
        <br>
      
        <ion-item>
          <ion-label position="stacked">Becas</ion-label>
          <ion-select [(ngModel)]="becas" name="becas" required>
            <ion-select-option value="Si">Si</ion-select-option>
            <ion-select-option value="No">No</ion-select-option>
          </ion-select>
        </ion-item>
      
        <br>

        <ion-item>
          <ion-label position="stacked">¿Pertenece a un Pueblo originario?</ion-label>
          <ion-select [(ngModel)]="puebloOriginario" name="puebloOriginario" required>
            <ion-select-option value="Si">Si</ion-select-option>
            <ion-select-option value="No">No</ion-select-option>
          </ion-select>
        </ion-item>

        <br>

        <ion-item>
          <ion-label position="stacked">Nombre Completo del sostenedor</ion-label>
          <ion-input type="text" [(ngModel)]="sostenedorName" name="fullName" required></ion-input>
        </ion-item>

        <br>
        
      
        <ion-item>
          <ion-label position="stacked">Fecha de nacimiento:</ion-label>
          <ion-input type="date" [(ngModel)]="birthdate" name="birthdate" required></ion-input>
        </ion-item>

        <br>

        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
      
        <br>
      
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <br>

        <ion-button expand="full" type="submit">Registrarse</ion-button>
      </form>
    
    <br>

    <a href="/login">¿Ya estas registrado?</a>


    </ion-card-content>
  </ion-card>

  
</ion-content>


