<ion-header >
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-list>

        <br>

        <ion-list>
          <ion-item>
            <ion-select formControlName="clases" placeholder="Selecione Las Clases Que Impartira:" [multiple]="true">
              <ion-select-option value="Estadistica Descriptiva">Estadistica Descriptiva</ion-select-option>
              <ion-select-option value="Programacion De Algoritmos">Programacion De Algoritmos</ion-select-option>
              <ion-select-option value="Etica Para El Trabajo">Etica Para El Trabajo</ion-select-option>
              <ion-select-option value="Ingles Intermedio">Ingles Intermedio</ion-select-option>
              <ion-select-option value="Arquitectura">Arquitectura</ion-select-option>
              <ion-select-option value="Calidad De Software">Calidad De Software</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>

        <ion-list>
          <ion-item>
            <ion-select  formControlName="semestre" placeholder="Semestre">
              <ion-select-option value="Primer Semestre">Primer Semestre</ion-select-option>
              <ion-select-option value="Segundo Semestre">Segundo Semestre</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        

        <ion-button type="submit" expand="full" [disabled]="!registrationForm.valid">Registrarse</ion-button>
      </form>   
    </ion-card-content>
  </ion-card>

  
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        Volver al login 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


