<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button auto-hide="false" color="warning"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contexto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/security23.jpg" class="ion-padding" />
    <ion-card-header>
      <ion-card-title>Contexto del caso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En el contexto actual de la pandemia a nivel mundial, 
      las instituciones de educación superior se han visto enfrentadas a una serie de desafíos para garantizar la continuidad de la educación. 
      Uno de estos desafíos ha sido la transición de las clases presenciales a la modalidad remota como medida para prevenir la propagación del COVID-19. Sin embargo, 
      a medida que han transcurrido los meses, diversos actores han intervenido en la situación, como las autoridades sanitarias, 
      la colaboración con entidades comunales y la responsabilidad de la ciudadanía, lo que ha permitido un retorno gradual a ciertas actividades presenciales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/informatica.jpg" class="ion-padding"/>
    <ion-card-content>
      Para abordar estas problemáticas de manera definitiva, 
      la institución ha decidido tomar medidas y ha contactado a estudiantes de Duoc UC para desarrollar una aplicación móvil llamada "RegistrAPP". 
      Esta aplicación estará disponible para plataformas tanto Android como iOS y permitirá que cada alumno registre su propia asistencia de manera más eficiente y sin los problemas relacionados con la falta de tiempo, 
      la confusión visual y los olvidos por parte de los docentes.
    </ion-card-content>
  </ion-card>


</ion-content>