<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="warning">Volver</ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label >Correo electrónico:</label>

          <br>
          <br>

          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <br>
        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>