<ion-header>
  <ion-toolbar>
    <ion-title class="ion-align-items-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <img img src="assets/image.png" class="ion-padding"/>
    </ion-card-header>
  
    <ion-card-content>

      <form id="mainForm" (ngSubmit)="signIn()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
    
        <br>
    
        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>

      <br>

      <a href="/form">¿No estas registrado?</a>

      <br>

      <br>

      <a href="/resetpassword">¿Olvidaste tu contraseña?</a>
    </ion-card-content>
  </ion-card>
  
</ion-content>



