ion-toolbar {
	--background: #1D1766;
  }

ion-title {
	--color:white;
}


ion-card{
	--background: white;
}

ion-button{
	--background: #FFC700;
	--color:black;
}


ion-content{
	--background:#2E437A;
}


.timezone-info {
	font-size: 18px; /* Tamaño de fuente */
	color: black; /* Color de texto */
	font-weight: bold; /* Negrita */
}
  
.time-info {
	font-size: 24px; /* Tamaño de fuente */
	color: #007bff; /* Color de texto (azul) */
	margin-top: 10px; /* Espacio superior */
}

h1{
	color: black;
}